@font-face {
  font-family: averta-regular;
  src: url(../fonts/Averta.otf);
}

@font-face {
  font-family: averta-light;
  src: url(../fonts/Averta-Light.otf);
}

@font-face {
  font-family: averta-bold;
  src: url(../fonts/Averta-Bold.otf);
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.woff);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(../fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-BLack;
  src: url(../fonts/Gilroy-Black.woff);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy-Bold.woff);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../fonts/Gilroy-SemiBold.woff);
}

@font-face {
  font-family: averta-semibold;
  src: url(../fonts/Averta-Semibold.otf);
}

@font-face {
  font-family: Reenie Beanie;
  src: url(../fonts/ReenieBeanie-Regular.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url(../fonts/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: 'Cabin';
  src: url(../fonts/Cabin-Regular.ttf);
}

@font-face {
  font-family: 'Cabin-Medium';
  src: url(../fonts/Cabin-Medium.ttf);
}

@font-face {
  font-family: 'Cabin-SemiBold';
  src: url(../fonts/Cabin-SemiBold.ttf);
}

@font-face {
  font-family: 'Cabin-Bold';
  src: url(../fonts/Cabin-Bold.ttf);
}

@font-face {
  font-family: 'SourceSerifPro-SemiBold';
  src: url(../fonts/SourceSerifPro-SemiBold.ttf);
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'DMSans';
  src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url(../fonts/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url(../fonts/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: 'NunitoSans-ExtraBold';
  src: url(../fonts/NunitoSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: 'icons';
  src: url(../fonts/icons.ttf?nm4dd6) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icons';
  src: url(../fonts/icons2.ttf?nm4dd6) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-BLack;
  src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PermanentMarker;
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: IndieFlower;
  src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face {
  font-family: HelveticaNowDisplay;
  src: url(../fonts/HelveticaNowDisplay-Regular.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* html {
  overflow-y: scroll;
  -moz-osx-overflow-y: scroll;
} */

body {
  font-family: Gilroy-Regular;
  margin: 0;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach:before {
  content: '\e900';
}
.icon-social-media:before {
  content: '\e901';
}
.icon-twitter:before {
  content: '\e902';
}
.icon-facebook:before {
  content: '\e903';
}
.icon-app:before {
  content: '\e904';
}
.icon-money:before {
  content: '\e905';
}
.icon-download:before {
  content: '\e906';
}
.icon-good:before {
  content: '\e907';
}
.icon-system:before {
  content: '\e908';
}
.icon-workflow:before {
  content: '\e909';
}
.icon-team:before {
  content: '\e90a';
}
.icon-product:before {
  content: '\e90b';
}
.icon-tech:before {
  content: '\e90c';
}
.icon-survey:before {
  content: '\e90d';
}
.icon-git:before {
  content: '\e90e';
}
.icon-in:before {
  content: '\e90f';
}
.icon-playButton:before {
  content: '\e910';
}
.icon-downloads:before {
  content: '\e911';
  color: #8f8f8f;
}
.icon-good:before {
  content: '\e912';
  color: #8f8f8f;
}
.icon-Group:before {
  content: '\e913';
  color: #8f8f8f;
}
.icon-handshake:before {
  content: '\e914';
  color: #8f8f8f;
}
.icon-hackernews:before {
  content: '\e915';
}
.icon-upwork:before {
  content: '\e900';
  color: #8f8f8f;
}
